@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(""), url("../fonts/noto/noto-serif-v16-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/noto/noto-serif-v16-latin_cyrillic-regular.woff") format("woff"); }
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(""), url("../fonts/noto/noto-serif-v16-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/noto/noto-serif-v16-latin_cyrillic-700.woff") format("woff"); }
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local(""), url("../fonts/roboto/roboto-v27-latin_cyrillic-300.woff2") format("woff2"), url("../fonts/roboto/roboto-v27-latin_cyrillic-300.woff") format("woff"); }
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(""), url("../fonts/roboto/roboto-v27-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/roboto/roboto-v27-latin_cyrillic-regular.woff") format("woff"); }
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local(""), url("../fonts/roboto/roboto-v27-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/roboto/roboto-v27-latin_cyrillic-500.woff") format("woff"); }
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(""), url("../fonts/roboto/roboto-v27-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/roboto/roboto-v27-latin_cyrillic-700.woff") format("woff"); }
.btn {
  display: inline-block;
  padding: 1rem 3rem;
  background: #333333;
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  color: #ffffff;
  letter-spacing: .3rem;
  text-transform: uppercase;
  outline: none;
  border: 0.1rem solid #ffffff;
  cursor: pointer;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear; }
  @media only screen and (max-width: 768px) {
    .btn {
      font-size: 1.4rem; } }
  @media only screen and (max-width: 500px) {
    .btn {
      font-size: 1.2rem; } }
  .btn:hover {
    background: transparent;
    letter-spacing: .4rem; }
  .btn.btn--wh {
    background: #ffffff;
    color: #333333;
    border: 0.1rem solid #333333; }

.menu {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: #333333;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 998; }
  .menu__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%; }
  .menu__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 1.5rem; }
    .menu__nav a {
      color: inherit;
      text-decoration: none;
      font-size: 2rem; }
      .menu__nav a:hover {
        text-decoration: underline; }
      .menu__nav a:nth-child(4) {
        position: relative; }
        .menu__nav a:nth-child(4)::before {
          content: '';
          display: block;
          width: 2.4rem;
          height: 2.4rem;
          background: url("../img/search.svg") left/cover no-repeat;
          position: absolute;
          left: -3rem;
          bottom: 50%;
          -webkit-transform: translateY(50%);
                  transform: translateY(50%); }
    .menu__nav_account a {
      display: inline-block;
      -webkit-transition: 0.2s linear;
      transition: 0.2s linear; }
      .menu__nav_account a:hover {
        -webkit-transform: scale(1.3);
                transform: scale(1.3); }
    .menu__nav_account a:not(:last-child) {
      margin-right: 1.5rem; }
  .menu.active {
    display: block;
    -webkit-animation: show-menu .5s ease-out;
            animation: show-menu .5s ease-out; }

@-webkit-keyframes show-menu {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%); }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@keyframes show-menu {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%); }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 10px; }

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0; }

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.2;
  color: #ffffff; }
  body.active {
    overflow: hidden; }

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

h1 {
  font-family: 'Noto Serif', sans-serif;
  font-size: 4rem;
  font-weight: 700; }

h2 {
  font-family: 'Noto Serif', sans-serif;
  font-size: 3rem;
  font-weight: 700; }
  @media only screen and (max-width: 768px) {
    h2 {
      font-size: 2.4rem; } }

.container {
  max-width: 114rem;
  width: 100%;
  min-width: 32rem;
  margin: 0 auto;
  padding: 0 1.5rem; }

.header {
  padding: 2.5rem 0;
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999; }
  @media only screen and (max-width: 500px) {
    .header {
      padding: 1rem 0; } }
  .header__nav {
    position: relative;
    z-index: 999;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media only screen and (max-width: 950px) {
      .header__nav {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        row-gap: .5rem; } }
    @media only screen and (max-width: 500px) {
      .header__nav {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
            -ms-flex-direction: row-reverse;
                flex-direction: row-reverse; } }
    .header__nav ul {
      list-style: none;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-column-gap: 4rem;
              column-gap: 4rem;
      font-weight: 300; }
      @media only screen and (max-width: 950px) {
        .header__nav ul {
          -webkit-box-ordinal-group: 3;
              -ms-flex-order: 2;
                  order: 2; } }
      @media only screen and (max-width: 500px) {
        .header__nav ul {
          display: none; } }
      .header__nav ul li a {
        color: inherit;
        text-decoration: none; }
        .header__nav ul li a:not(:last-child) {
          margin-right: 2rem; }
        .header__nav ul li a:hover {
          text-decoration: underline; }
    .header__nav_logo {
      width: 21.6rem; }
      @media only screen and (max-width: 950px) {
        .header__nav_logo {
          width: 15rem;
          -webkit-box-ordinal-group: 2;
              -ms-flex-order: 1;
                  order: 1;
          margin-bottom: 2rem; } }
      @media only screen and (max-width: 500px) {
        .header__nav_logo {
          width: 12rem;
          margin-bottom: 0; } }
      .header__nav_logo.active {
        width: 12rem; }
  .header--search {
    position: relative; }
    .header--search::before {
      content: '';
      display: block;
      width: 2.4rem;
      height: 2.4rem;
      background: url("../img/search.svg") left/cover no-repeat;
      position: absolute;
      left: -4rem;
      bottom: 50%;
      -webkit-transform: translateY(50%);
              transform: translateY(50%); }
  .header__btn {
    display: none; }
    @media only screen and (max-width: 500px) {
      .header__btn {
        display: block;
        position: relative;
        width: 4rem;
        height: 2rem;
        border: none;
        outline: none;
        background: transparent;
        cursor: pointer; }
        .header__btn span {
          width: 100%;
          height: 0.1rem;
          background: #ffffff;
          position: absolute;
          left: 0;
          pointer-events: none;
          -webkit-transition: 0.2s linear;
          transition: 0.2s linear; }
          .header__btn span:nth-child(1) {
            top: 0; }
          .header__btn span:nth-child(2) {
            top: 50%; }
          .header__btn span:nth-child(3) {
            top: 100%; }
        .header__btn.active span:nth-child(1) {
          top: 50%;
          left: 0%;
          -webkit-transform: rotate(45deg);
                  transform: rotate(45deg); }
        .header__btn.active span:nth-child(2) {
          opacity: 0; }
        .header__btn.active span:nth-child(3) {
          top: 50%;
          left: 0;
          -webkit-transform: rotate(-45deg);
                  transform: rotate(-45deg); } }
  .header.active {
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    background: #333333;
    -webkit-animation: menu-down .5s ease-out;
            animation: menu-down .5s ease-out; }

@-webkit-keyframes menu-down {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%); }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@keyframes menu-down {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%); }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }
.intro {
  position: relative;
  height: 100vh;
  background: url("../img/bgc.jpg") center/cover no-repeat;
  overflow: hidden; }
  .intro::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(51, 51, 51, 0.8);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }
  .intro__wrapper {
    height: 100%;
    position: relative;
    z-index: 1;
    display: grid;
    place-content: center; }
  .intro__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 4rem; }
    @media only screen and (max-width: 768px) {
      .intro__content {
        row-gap: 2rem; }
        .intro__content h1 {
          font-size: 3rem; } }
    @media only screen and (max-width: 768px) {
      .intro__content h1 {
        font-size: 2.4rem; } }
  .intro__footer {
    display: grid;
    place-content: center;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 12rem;
    border-top: 0.1rem solid #ffffff;
    z-index: 1; }
    @media only screen and (max-width: 768px) {
      .intro__footer {
        height: 7rem; } }
    @media only screen and (max-width: 500px) {
      .intro__footer {
        height: 5rem; } }
    .intro__footer_wrapper {
      width: 114rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      @media only screen and (max-width: 768px) {
        .intro__footer_wrapper {
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center; } }
    .intro__footer_block {
      position: relative; }
      @media only screen and (max-width: 768px) {
        .intro__footer_block {
          width: 12rem; } }
      @media only screen and (max-width: 500px) {
        .intro__footer_block {
          width: 10rem; } }
      .intro__footer_block:not(:last-child)::after {
        content: '';
        display: block;
        background: #ffffff;
        height: 100%;
        width: 0.1rem;
        position: absolute;
        top: 0;
        right: -11%; }
        @media only screen and (max-width: 768px) {
          .intro__footer_block:not(:last-child)::after {
            right: 0; } }
      @media only screen and (max-width: 768px) {
        .intro__footer_block:nth-child(odd) {
          display: none; } }

.goods {
  padding: 10rem 0;
  color: #333333; }
  @media only screen and (max-width: 768px) {
    .goods {
      padding: 6rem 0; } }
  @media only screen and (max-width: 500px) {
    .goods {
      padding: 3rem 0; } }
  .goods__title {
    text-align: center;
    margin-bottom: 6rem; }
    @media only screen and (max-width: 768px) {
      .goods__title {
        margin-bottom: 3rem; } }
    .goods__title h3 {
      font-size: 2.1rem;
      font-weight: 400;
      margin-bottom: 1.5rem; }
      @media only screen and (max-width: 768px) {
        .goods__title h3 {
          font-size: 1.6rem;
          margin-bottom: .5rem; } }
  .goods__items {
    display: grid;
    grid-template-columns: repeat(3, 35rem);
    grid-template-rows: repeat(2, 28rem);
    gap: 3rem; }
    @media only screen and (max-width: 1150px) {
      .goods__items {
        grid-template-columns: repeat(2, 35rem);
        grid-template-rows: repeat(3, 28rem);
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; } }
    @media only screen and (max-width: 768px) {
      .goods__items {
        grid-template-columns: repeat(1, 35rem);
        grid-template-rows: repeat(6, 28rem);
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        gap: 1rem; } }
    @media only screen and (max-width: 500px) {
      .goods__items {
        grid-template-columns: repeat(1, 32rem); } }
  .goods__item {
    position: relative; }
    .goods__item h3 {
      color: #ffffff;
      font-family: 'Roboto', sans-serif;
      font-size: 2.4rem;
      text-transform: uppercase;
      text-align: center;
      letter-spacing: .2rem;
      position: absolute;
      bottom: 3rem;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%); }
    .goods__item.wedding:nth-child(1) {
      background: url("../img/wedding/rings.jpg"); }
    .goods__item.wedding:nth-child(2) {
      background: url("../img/wedding/ears.jpg"); }
    .goods__item.wedding:nth-child(3) {
      background: url("../img/wedding/neck.jpg"); }
    .goods__item.wedding:nth-child(4) {
      background: url("../img/wedding/ring.jpg"); }
    .goods__item.wedding:nth-child(5) {
      background: url("../img/wedding/bracelet.jpg"); }
    .goods__item.wedding:nth-child(6) {
      background: url("../img/wedding/watch.jpg"); }
    .goods__item.wedding:before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(180, 180, 180, 0.1)), to(rgba(51, 51, 51, 0.5)));
      background: linear-gradient(to bottom, rgba(180, 180, 180, 0.1), rgba(51, 51, 51, 0.5));
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }
    .goods__item.husband:nth-child(1) {
      background: url("../img/husband/suit.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat; }
    .goods__item.husband:nth-child(2) {
      background: url("../img/husband/hat.jpeg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat; }
    .goods__item.husband:nth-child(3) {
      background: url("../img/husband/pants.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat; }
    .goods__item.husband:nth-child(4) {
      background: url("../img/husband/1.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat; }
    .goods__item.husband:nth-child(5) {
      background: url("../img/husband/tie.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat; }
    .goods__item.husband:nth-child(6) {
      background: url("../img/husband/shoes.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat; }
    .goods__item.husband:before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(180, 180, 180, 0.1)), to(rgba(51, 51, 51, 0.5)));
      background: linear-gradient(to bottom, rgba(180, 180, 180, 0.1), rgba(51, 51, 51, 0.5));
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }
    .goods__item.wife:nth-child(1) {
      background: url("../img/wife/dress.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat; }
    .goods__item.wife:nth-child(2) {
      background: url("../img/wife/top.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat; }
    .goods__item.wife:nth-child(3) {
      background: url("../img/wife/skirt.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat; }
    .goods__item.wife:nth-child(4) {
      background: url("../img/wife/hat.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat; }
    .goods__item.wife:nth-child(5) {
      background: url("../img/wife/underwear.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat; }
    .goods__item.wife:nth-child(6) {
      background: url("../img/wife/bags.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat; }
    .goods__item.wife:before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(180, 180, 180, 0.1)), to(rgba(51, 51, 51, 0.5)));
      background: linear-gradient(to bottom, rgba(180, 180, 180, 0.1), rgba(51, 51, 51, 0.5));
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }
    .goods__item.rare:nth-child(1) {
      background: url("../img/rare/vaza.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat; }
    .goods__item.rare:nth-child(2) {
      background: url("../img/rare/guns.jpeg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat; }
    .goods__item.rare:nth-child(3) {
      background: url("../img/rare/print.jpeg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat; }
    .goods__item.rare:nth-child(4) {
      background: url("../img/rare/xz.jpeg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat; }
    .goods__item.rare:nth-child(5) {
      background: url("../img/rare/coins.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat; }
    .goods__item.rare:nth-child(6) {
      background: url("../img/rare/diamond.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat; }
    .goods__item.rare:before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(180, 180, 180, 0.1)), to(rgba(51, 51, 51, 0.5)));
      background: linear-gradient(to bottom, rgba(180, 180, 180, 0.1), rgba(51, 51, 51, 0.5));
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }
    .goods__item.collection:nth-child(1) {
      background: url("../img/collection/1.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat; }
    .goods__item.collection:nth-child(2) {
      background: url("../img/collection/2.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat; }
    .goods__item.collection:nth-child(3) {
      background: url("../img/collection/3.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat; }
    .goods__item.collection:nth-child(4) {
      background: url("../img/collection/4.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat; }
    .goods__item.collection:nth-child(5) {
      background: url("../img/collection/5.jpeg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat; }
    .goods__item.collection:nth-child(6) {
      background: url("../img/collection/6.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat; }
    .goods__item.collection:before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(180, 180, 180, 0.1)), to(rgba(51, 51, 51, 0.5)));
      background: linear-gradient(to bottom, rgba(180, 180, 180, 0.1), rgba(51, 51, 51, 0.5));
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }

.tabs__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
  margin-bottom: 5rem; }
  @media only screen and (max-width: 950px) {
    .tabs__nav {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      row-gap: 2rem; } }
  @media only screen and (max-width: 768px) {
    .tabs__nav {
      row-gap: 1rem;
      margin-bottom: 3rem; } }

.tabs__item {
  display: none; }

.tabs__item.active {
  display: block; }

.tabs__nav-btn {
  width: 165px;
  height: 61px;
  font-size: 1.8rem;
  border: 1px solid #333333;
  outline: none;
  background: transparent;
  color: #333333;
  cursor: pointer;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear; }
  .tabs__nav-btn:hover {
    background: #333333;
    color: #ffffff; }
  @media only screen and (max-width: 768px) {
    .tabs__nav-btn {
      width: 120px;
      height: 40px;
      font-size: 1.4rem; } }

.tabs__nav-btn.active {
  background: #333333;
  color: #ffffff; }

.our {
  padding: 10rem 0;
  background-image: url("../img/our_bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  @media only screen and (max-width: 768px) {
    .our {
      padding: 5rem 0; } }
  @media only screen and (max-width: 500px) {
    .our {
      padding: 3rem 0; } }
  .our__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .our__wrapper h3 {
      font-size: 2.1rem;
      font-weight: 300;
      margin-bottom: 1.5rem; }
      @media only screen and (max-width: 768px) {
        .our__wrapper h3 {
          font-size: 1.8rem; } }
      @media only screen and (max-width: 500px) {
        .our__wrapper h3 {
          font-size: 1.4rem;
          margin-bottom: 1rem; } }
    .our__wrapper h2 {
      margin-bottom: 4.5rem; }
      @media only screen and (max-width: 768px) {
        .our__wrapper h2 {
          margin-bottom: 3rem; } }
      @media only screen and (max-width: 500px) {
        .our__wrapper h2 {
          text-align: center;
          margin-bottom: 2rem; } }
    .our__wrapper p {
      font-size: 1.8rem;
      font-weight: 300;
      text-align: center;
      max-width: 73rem;
      margin-bottom: 6rem; }
      @media only screen and (max-width: 768px) {
        .our__wrapper p {
          font-size: 1.4rem;
          margin-bottom: 4rem; } }
      @media only screen and (max-width: 500px) {
        .our__wrapper p {
          margin-bottom: 2rem; } }

.blog {
  padding: 12rem 0;
  color: #333333; }
  @media only screen and (max-width: 768px) {
    .blog {
      padding: 6rem 0; } }
  @media only screen and (max-width: 500px) {
    .blog {
      padding: 3rem 0; } }
  .blog__title {
    text-align: center;
    margin-bottom: 6rem; }
    @media only screen and (max-width: 768px) {
      .blog__title {
        margin-bottom: 3rem; } }
    .blog__title h3 {
      font-size: 2.1rem;
      font-weight: 400;
      margin-bottom: 1.5rem; }
      @media only screen and (max-width: 768px) {
        .blog__title h3 {
          font-size: 1.6rem;
          margin-bottom: .5rem; } }
  .blog__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-column-gap: .5rem;
            column-gap: .5rem;
    row-gap: 2rem; }
    @media only screen and (max-width: 1088px) {
      .blog__items {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-column-gap: 2rem;
                column-gap: 2rem; } }
    @media only screen and (max-width: 749px) {
      .blog__items {
        -webkit-column-gap: 1rem;
                column-gap: 1rem;
        row-gap: 1rem; } }
  .blog__item {
    width: 35rem;
    height: 37rem;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
    .blog__item:nth-child(1) {
      background-image: url("../img/blog/1.jpg"); }
    .blog__item:nth-child(2) {
      background-image: url("../img/blog/2.jpg"); }
    .blog__item:nth-child(3) {
      background-image: url("../img/blog/3.jpg"); }
    .blog__item:before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(180, 180, 180, 0.1)), to(rgba(51, 51, 51, 0.5)));
      background: linear-gradient(to bottom, rgba(180, 180, 180, 0.1), rgba(51, 51, 51, 0.5));
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }
    .blog__item h3 {
      color: #ffffff;
      font-family: 'Roboto', sans-serif;
      font-size: 2.4rem;
      text-transform: uppercase;
      text-align: center;
      letter-spacing: .2rem;
      position: absolute;
      bottom: 3rem;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%); }
    @media only screen and (max-width: 500px) {
      .blog__item {
        width: 30rem;
        height: 32rem; } }

.social {
  color: #333333;
  padding-bottom: 12rem; }
  @media only screen and (max-width: 768px) {
    .social {
      padding-bottom: 6rem; } }
  @media only screen and (max-width: 500px) {
    .social {
      padding-bottom: 3rem; } }
  .social__title {
    text-align: center;
    margin-bottom: 6rem; }
    .social__title h3 {
      font-size: 2.1rem;
      font-weight: 300;
      margin-bottom: 1.5rem; }
      @media only screen and (max-width: 768px) {
        .social__title h3 {
          font-size: 1.8rem; } }
      @media only screen and (max-width: 500px) {
        .social__title h3 {
          font-size: 1.4rem;
          margin-bottom: 1rem; } }
    @media only screen and (max-width: 768px) {
      .social__title {
        margin-bottom: 4rem; } }
    @media only screen and (max-width: 500px) {
      .social__title {
        margin-bottom: 2rem; } }
  .social__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 30rem); }
    @media only screen and (max-width: 768px) {
      .social__grid {
        grid-template-rows: repeat(4, 30rem); } }
    @media only screen and (max-width: 600px) {
      .social__grid {
        grid-template-rows: repeat(4, 20rem); } }
    @media only screen and (max-width: 400px) {
      .social__grid {
        grid-template-rows: repeat(4, 15rem); } }
  .social__item {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
    .social__item:nth-child(1) {
      grid-column: span 2;
      background-image: url("../../img/social/v-1.jpg"); }
      @media only screen and (max-width: 768px) {
        .social__item:nth-child(1) {
          grid-column: span 4; } }
      .social__item:nth-child(1):hover .social__item_video {
        display: grid; }
    .social__item:nth-child(2) {
      grid-column: span 1;
      background-image: url("../../img/social/1.jpg"); }
      @media only screen and (max-width: 768px) {
        .social__item:nth-child(2) {
          grid-column: span 2; } }
    .social__item:nth-child(3) {
      grid-column: span 1;
      background-image: url("../../img/social/2.jpg"); }
      @media only screen and (max-width: 768px) {
        .social__item:nth-child(3) {
          grid-column: span 2; } }
    .social__item:nth-child(4) {
      grid-column: span 1;
      background-image: url("../../img/social/3.jpg"); }
      @media only screen and (max-width: 768px) {
        .social__item:nth-child(4) {
          grid-column: span 2; } }
    .social__item:nth-child(5) {
      grid-column: span 1;
      background-image: url("../../img/social/4.jpg"); }
      @media only screen and (max-width: 768px) {
        .social__item:nth-child(5) {
          grid-column: span 2; } }
    .social__item:nth-child(6) {
      grid-column: span 2;
      background-image: url("../../img/social/v-2.jpg"); }
      @media only screen and (max-width: 768px) {
        .social__item:nth-child(6) {
          grid-column: span 4; } }
      .social__item:nth-child(6):hover .social__item_video {
        display: grid; }
    .social__item_video {
      display: none;
      place-items: center;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      -webkit-animation: show-btn 0.3s linear;
              animation: show-btn 0.3s linear; }
      .social__item_video:before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(180, 180, 180, 0.1)), to(rgba(51, 51, 51, 0.5)));
        background: linear-gradient(to bottom, rgba(180, 180, 180, 0.1), rgba(51, 51, 51, 0.5));
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0; }
      .social__item_video button {
        position: relative;
        z-index: 10;
        border: none;
        outline: none;
        background: none;
        cursor: pointer; }

@-webkit-keyframes show-btn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes show-btn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/*# sourceMappingURL=main.css.map */