.menu {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background: $dark;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 998;
    &__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    &__nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 1.5rem;
        a {
            color: inherit;
            text-decoration: none;
            font-size: 2rem;
            &:hover {
                text-decoration: underline;
            }
            &:nth-child(4) {
                position: relative;
                &::before {
                    content: '';
                    display: block;
                    width: 2.4rem;
                    height: 2.4rem;
                    background: url('../img/search.svg') left / cover no-repeat;
                    position: absolute;
                    left: -3rem;
                    bottom: 50%;
                    transform: translateY(50%);
                }
            }
        }
        &_account {
            a {
                display: inline-block;
                transition: $trs;
                &:hover {
                    transform: scale(1.3);
                }
            }
            a:not(:last-child) {
                margin-right: 1.5rem;
            }
        }
    }
    &.active {
        display: block;
        animation: show-menu .5s ease-out;
    }
}
@keyframes show-menu {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}