// MEDIA
@mixin point($width) {
    @media only screen and (max-width: $width + 'px') {
        @content;
    }
}
@mixin point-min($width) {
    @media only screen and (min-width: $width + 'px') {
        @content;
    }
}
// COLOR
$dark: #333333;
$wh: #ffffff;
$silver: #b4b4b4;
// ANIMATE
$trs: .2s linear;
// BTN
.btn {
    display: inline-block;
    padding: 1rem 3rem;
    background: $dark;
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    color: $wh;
    letter-spacing: .3rem;
    text-transform: uppercase;
    outline: none;
    border: .1rem solid $wh;
    cursor: pointer;
    transition: $trs;
    @include point(768) {
        font-size: 1.4rem;
    }
    @include point(500) {
        font-size: 1.2rem;
    }
    &:hover {
        background: transparent;
        letter-spacing: .4rem;
    }
    &.btn--wh {
        background: $wh;
        color: $dark;
        border: .1rem solid $dark;
    }
}
// BG
@mixin bg {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
// GRADIENT
@mixin grad {
    &:before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, rgba($silver, .1), rgba($dark, .5));
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}
// H3 DESCRIBE
@mixin h3 {
    h3 {
        color: $wh;
        font-family: 'Roboto', sans-serif;
        font-size: 2.4rem;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: .2rem;
        position: absolute;
        bottom: 3rem;
        left: 50%;
        transform: translateX(-50%);
    }
}